body{
    margin: 25px 50px 75px;
    background-color: #02001b;
    color: #c6c6c6;
}


h2.places{
    color: orange;
    
}

footer{
    color: white;
    text-align: center;
}

#subheader{
    font-style: italic;
}


